<style>
    footer{
background-color:#ffc100;
   padding:30px;
    }

    .lista_footer a{
    color:#2f160f;}

    .sub{
    font-size:11px;
    color:#2f160f;
    font-weight:300;}

    .flex{
    display:flex;
      justify-content: center;
  align-items: center;
}
    .list-item{
     margin:0 auto;
    }

    .icon-item{
     padding:0 20px 20px 20px;
    }

 ul{
      list-style-type: none;
      }
</style>

<footer>
    <div class="bottomfooter container">
        <div class="center flex">
            <div  class="col-md-2">
                <a href="#">
                    <img height="150" src="./static/img/criolina_logo.svg">
                </a>
            </div>
            <div class="col-md-8 lista_footer">
                <div class="text-center">
                <p class="sub">SIGA A GENTE NAS REDES SOCIAIS!</p>
                <div class="flex">
                   <a  class="icon-item" href="#"><img width="32" src="./static/img/instagram.svg"></a>
                    <a  class="icon-item" href="#"><img width="32" src="./static/img/facebook.svg"></a>
                    <a class="icon-item" href="#"><img width="32" src="./static/img/twitter.svg"></a>
                    </div>


    </div>



            </div>

        </div>
<!--        <div class="row">-->
<!--            <div class="col-md-12 text-center">-->
<!--                <p class="sub">@2020 betabase | Todos os direitos reservados. Construido por <a href="#">Rafael Axé</a></p>-->
<!--            </div>-->
<!--        </div>-->

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</footer>
    </body>
</html>